@import "../../../common/commonStyle";

.chat-panel-header {
    @include size(100%, 60px);
    min-height: 60px;
    border-bottom: 1px solid $grey4;
    display: flex;
    justify-content: space-between;
    
    & > div:nth-child(1000n+1) {
        @include flexCenter;

        & > :nth-child(1000n+1) {
            @include size(40px, 40px);
            margin: 10px 5px 10px 10px;
            border-radius: 50%;
        }
        p {
            color: $grey9;
            margin-left: 10px;
            font-size: 20px;
        }
    }
    & > div:nth-child(1000n+2) {
        @include flexCenter;

        & > div {
            margin: auto 8px;

            i {
                font-size: 24px;
                color: $lightBlue7;
                cursor: pointer;

                &:hover {
                    color: $lightBlue4;
                }
            }
            &:nth-child(1000n+1) {
                i {
                    font-size: 20px;
                }
            }
            &:nth-child(1000n+2) {
                margin-top: 18px;
            }

            & > :last-child {
                margin-right: 10px;
            }
        }
    }
}