.code-input {
    z-index: 101;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    width: 400px;

    & > textarea {
        width: 400px;
        height: 250px;
        padding: 8px 16px;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &> div {
        display: flex;
        align-items: center;
        margin: 10px 0px;

        & > button {
            background-color: #03A9F4;
            width: 80px;
            height: 30px;
            border-radius: 15px;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:nth-child(1000n+1) {
                margin-right: 20px;
            }

            &:hover {
                background-color: #0288D1;
            }
        }
    }

    & > span {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 130px;
        text-align: center;
        color: #BDBDBD;
    }
}
