@import "../../../common/commonStyle";

.code-input {
    @include horizontalCenter;
    @include floatIndex;
    @include flexCenter(column);
    bottom: 45px;
    border-radius: 5px;
    background-color: white;
    width: 400px;

    & > textarea {
        @include size(400px, 250px);
        padding: 8px 16px;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &> div {
        @include flexCenter;
        margin: 10px 0px;

        & > button {
            @include size(80px, 30px);
            background-color: #03A9F4;
            border-radius: 15px;
            font-size: 18px;
            color: white;
            cursor: pointer;

            &:nth-child(1000n+1) {
                margin-right: 20px;
            }

            &:hover {
                background-color: #0288D1;
            }
        }
    }
}
