@import "../../../common/commonStyle";

.user-list {
    width: 250px;
    border-right: 1px solid silver;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: auto;
}

.user-list-item {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    cursor: default;
    user-select: none;

    & > div:nth-child(1000n+1) {
        margin: 10px 5px 10px 5px;
    }
    & > img:nth-child(1000n+1) {
        margin: 10px 5px 10px 5px;
    }
    .unread {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #289dda;
        color: white;
        position: absolute;
        left: 32px;
        top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 180px;

        div:first-child {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            margin-top: 3px;

            p:first-child {
                font-size: 14px;
                color: $primaryText;
                margin: 0;
                margin-top: 5px;
            }
            p:last-child {
                font-size: 12px;
                color: $secondaryText;
                margin: 0;
                margin-top: 10px;
            }
        }
        div:last-child {
            flex: 1;
            text-overflow: ellipsis;
            padding: 0;

            p {
                width: 100%;
                font-size: 12px;
                color: $secondaryText;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 10px;
            }
        }
    }
}