{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.5%, last 3 versions, Firefox ESR, not dead",
                "useBuiltIns": "entry",
                "corejs": 3,
                "modules": false
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "prismjs", {
                "languages": ["clike", "javascript", "typescript", "java", "c", "cpp", "python", "ruby", "markup", "markup-templating", "php", "go", "csharp", "css", "markdown", "sql", "json" ],
                "plugins": ["line-numbers", "copy-to-clipboard", "show-language"],
                "theme": "default",
                "css": true
            }
        ]
    ]
}