{
    "extends": "eslint-config-airbnb",
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "createDefaultProgram": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["@typescript-eslint", "react", "react-hooks", "jsx-a11y", "import"],
    "globals": {
        "importScripts": true,
        "workbox": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "no-console": 0,
        "react/jsx-filename-extension": [
            2,
            {
                "extensions": [".js", ".jsx", ".tsx"]
            }
        ],
        "import/extensions": [
            2,
            {
                "ts": "never",
                "tsx": "never",
                "js": "never",
                "jsx": "never"
            }
        ],
        "@typescript-eslint/no-unused-vars": 2,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/interactive-supports-focus": 0,
        "global-require": 0,
        "no-param-reassign": 0,
        "react/jsx-one-expression-per-line": 0,
        "implicit-arrow-linebreak": 0,
        "jsx-a11y/no-noninteractive-element-to-interactive-role": 0
    }
}