# visual studio code
.vscode

# node.js
node_modules

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# config file
config.js