.DS_Store
node_modules/
dist/
coverage/
.idea/
.linaria-cache/

npm-debug.log
yarn-error.log
.eslintcache
lerna-debug.log

.env

packages/server/public/*
!packages/server/public/avatar/
packages/server/public/avatar/*_*.*
!packages/server/public/favicon-96.png
!packages/server/public/favicon-192.png
!packages/server/public/favicon-512.png
!packages/server/public/manifest.json
!packages/server/public/index.html
!packages/server/public/PrivacyPolicy.html