@import "../../common/commonStyle";

.linkman-header {
    @include size(100%, 60px);
    @include flexCenter;
    min-height: 60px;
    background-color: $lightBlue5;

    & > img {
        @include size(auto, 36px);
    }
}