@import "../../common/commonStyle";

.linkman {
    @include size;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.user-list {
    @include size;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $grey1;
}

.user-list-item {
    @include flexCenter;
    @include size(100%, 70px);
    min-height: min-content;
    position: relative;
    cursor: default;
    user-select: none;
    border-bottom: 1px solid $grey3;

    &:last-child {
        border-bottom: none;
    }

    & > div:nth-child(1000n+1) {
        margin: 5px 5px 5px 10px;
    }
    & > img:nth-child(1000n+1) {
        margin: 5px 5px 5px 10px;
    }
    .unread {
        @include size(16px, 16px);
        @include flexCenter;
        border-radius: 50%;
        background-color: #289dda;
        color: white;
        position: absolute;
        left: 32px;
        top: 8px;
        font-size: 10px;
    }
    .content {
        @include size;
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-right: 10px;
        flex: 1;
        max-width: calc(100% - 60px);

        div:first-child {
            @include flexCenter;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            margin-top: 3px;

            p:first-child {
                font-size: 16px;
                color: $primaryText;
                margin: 0;
                margin-top: 5px;
            }
            p:last-child {
                font-size: 14px;
                color: $secondaryText;
                margin: 0;
                margin-top: 10px;
            }
        }
        div:last-child {
            flex: 1;
            text-overflow: ellipsis;
            padding: 0;

            p {
                width: 100%;
                font-size: 14px;
                color: $grey6;
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: 10px;
                margin-top: 5px;
            }
        }
    }
}