.chat-panel-header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
    
    & > div:nth-child(1000n+1) {
        display: flex;
        align-items: center;

        & > :nth-child(1000n+1) {
            width: 40px;
            height: 40px;
            margin: 10px 5px 10px 10px;
            border-radius: 50%;
        }
        p {
            color: #231815;
            margin: 0;
            font-size: 20px;
        }
    }
    & > div:nth-child(1000n+2) {
        display: flex;
        align-items: center;

        & > div {
            margin: auto 8px;

            i {
                font-size: 24px;
                color: #2ea7e0;
                cursor: pointer;

                &:hover {
                    color: #608198;
                }
            }
            &:nth-child(1000n+1) {
                i {
                    font-size: 20px;
                }
            }
            &:nth-child(1000n+2) {
                margin-top: 18px;
            }

            & > :last-child {
                margin-right: 10px;
            }
        }
    }
}