.expression {
    width: 400px;
    height: 234px;
    background-color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #999;
    z-index: 101;

    .default-expression {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > div {
            width: 40px;
            height: 40px;
            padding: 5px;

            & > div {
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-image: url('../../../image/expressions.png');
            }
        }
    }
    .collect-expression {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;

        & > div {
            width: 100px;
            height: 100px;
            padding: 10px;

            & > div {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    & > div:last-child {
        width: 100%;
        height: 34px;
        background-color: #eee;
        display: flex;
        flex-direction: row;
        padding: 0px 17px;
        border-top: 1px solid #ddd;

        & > div {
            width: 34px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .selected {
            background-color: #fff;
            position: relative;
            top: -1px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
    }
}