.group-info {
    flex: 1;
    padding: 8px;
    color: #727272;
    overflow: auto;

    .content {
        margin: 10px 0px;
        span {
            font-size: 14px;

            &:nth-child(1000n+1) {
                margin-left: 10px;
            }
            &:nth-child(1000n+2) {
                margin-left: 3px;
            }
            &:nth-child(1000n+3) {
                margin-left: 15px;
                font-size: 12px;
                color: #2ea7e0;
                cursor: pointer;
            }
        }
    }

    .button {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        
        button {
            width: 120px;
            height: 30px;
            border-radius: 5px;
            color: white;
            background-color: #0288D1;

            &:hover {
                background-color: #2ea7e0;
            }
        }
    }

    .userList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3px 0px;
            max-width: 60px;
            text-align: center;

            & >:nth-child(1000n+1) {
                margin: 3px 10px;
            }
            span {
                font-size: 12px;
                margin: 0px 2px;
            }
        }
    }

    input {
        display: none;
    }
}