.group-notice {
    flex: 1;
    padding: 15px;

    & > div:first-child {
        font-size: 12px;
        color: #727272;
    }
    .content {
        margin-top: 10px;
        font-size: 14px;
        color: #212121;
    }
    .editor {
        margin-top: 10px;
        width: 295px;
        height: 150px;
        font-size: 14px;
        padding: 5px;
    }
    & > div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        button {
            background-color: #289dda;
            color: white;
            width: 100px;
            height: 30px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}