.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 26px;
            margin: 0px 10px 0px 10px;
            color: #444;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: #666;
            }
        }
        &:nth-child(1000n+2) {
            margin-top: 5px;
            i {
                font-size: 26px;
            }
        }
    }

    .image-input {
        display: none;
    }
}