$primaryColor: #03A9F4;
$darkPrimaryColor: #0288D1;
$lightPrimaryColor: #B3E5FC;
$selectColor: #29B6F6;
$textIconColor: #FFFFFF;
$accentColor: #9E9E9E;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;

// light-blue
$lightBlue0: #e1f5fe;
$lightBlue1: #b3e5fc;
$lightBlue2: #81d4fa;
$lightBlue3: #4fc3f7;
$lightBlue4: #29b6f6;
$lightBlue5: #03a9f4;
$lightBlue6: #039be5;
$lightBlue7: #0288d1;
$lightBlue8: #0277bd;
$lightBlue9: #01579b;

// grey
$grey0: #fafafa;
$grey1: #f5f5f5;
$grey2: #eeeeee;
$grey3: #e0e0e0;
$grey4: #bdbdbd;
$grey5: #9e9e9e;
$grey6: #757575;
$grey7: #616161;
$grey8: #424242;
$grey9: #212121;

@mixin button {
    cursor: pointer;
    user-select: none;
}

@mixin horizontalCenter {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
@mixin verticalCenter {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
@mixin containerCenter {
    @include horizontalCenter;
    @include verticalCenter;
}

@mixin containerStart {
    position: absolute;
    left: 0;
    top: 0;
}

@mixin floatPanel {
    @include containerCenter;
    background-color: rgba($grey0, 0.8);
    border-radius: 5px;
}
@mixin floatPanelButton {
    font-size: 18px;
    color: $lightBlue5;
    flex: 1;
    height: 100%;
    border-right: 1px solid $grey4;
    cursor: pointer;
    user-select: none;

    &:last-child {
        border-right: none;
    }
}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin title($color: $grey9) {
    font-size: 20px;
    color: $color;
}

@mixin content($color: $grey8) {
    font-size: 16px;
    color: $color;
}

@mixin size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

@mixin primaryIndex {
    z-index: 0;
}
@mixin maskIndex {
    z-index: 10;
}
@mixin floatIndex {
    z-index: 11;
}
@mixin notificationIndex {
    z-index: 15;
}

@mixin maskColor {
    background-color: rgba(0, 0, 0, 0.2);
}