$primaryColor: #03A9F4;
$darkPrimaryColor: #0288D1;
$lightPrimaryColor: #B3E5FC;
$selectColor: #29B6F6;
$textIconColor: #FFFFFF;
$accentColor: #9E9E9E;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;
