@import "./commonStyle";

.notification {
    @include size(100%, auto);
    @include flexCenter;
    @include containerStart;
    @include notificationIndex;
    pointer-events: none;

    & > div {
        background-color: white;
        max-width: 400px;
        padding: 5px 15px;
        margin-top: 90px;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: 0px 0px 5px #bdbdbd;
        text-align: center;
    }
}