<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fiora</title>
    <meta name=keywords content="fiora,聊天室,fiora聊天室碎碎酱,二次元,全栈开发">
    <meta name=description content="fiora聊天室是基于node.js和react全栈开发的二次元聊天室, 作者:碎碎酱">
    <meta name=author content=碎碎酱>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no",viewport-fit=cover>
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.png">
    <% if (process.env.NODE_ENV === 'production') { %>
      <link rel="manifest" href="/manifest.json">
    <% } %>
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="fiora">
    <link rel="apple-touch-icon" href="<%= webpackConfig.output.publicPath %>favicon.png">
    <!-- Windows -->
    <meta name="msapplication-TileImage" content="<%= webpackConfig.output.publicPath %>favicon.png">
    <meta name="msapplication-TileColor" content="#333">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
