@import "../common/commonStyle";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    @include size;
    font-family: Arial, Verdana, 微软雅黑, 黑体, serif;
}
body {
    overflow: hidden;
    @include size;
    min-width: 100%;
    min-height: 100%;
}

.window {
    @include size;

    & > audio {
        display: none;
    }
}

.background {
    @include size;
    background-image: url('../assets/image/background.jpg');
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;

    & > div {
        @include size(1000px, 100%);
        position: absolute;
        left: calc((100vw - 1000px) / 2);
        background-image: url('../assets/image/background.jpg');
        background-repeat: no-repeat;
        background-position: calc((1000px - 100vw) / 2) 0px;
        filter: blur(10px);
    }
}

.app {
    @include size(1000px, 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#app {
    height: 100vh;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473655409_9411223.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473655409_9411223.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473655409_9411223.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473655409_9411223.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473655409_9411223.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family: 'iconfont';
    font-style: normal;
}

::-webkit-scrollbar {
    @include size(8px, 8px);

    &:end {
        display: none;
    }
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}    
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;

    &:end {
        display: none;
    }
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}
