.module-main-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat-headerBar {
    height: 70px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.6);
}
.chat-messageList {
    flex: 1;
}
.chat-chatInput {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom-right-radius: 10px;

    input {
        flex: 1;
        margin: 0 10px;
        padding: 0px 8px;
        height: 32px;
        outline: none;
        border: 1px solid rgba(208, 208, 208, 0.5);
        font-size: 14px;
        color: #666;
    }
    div {
        .iconfont {
            color: #AAA;
        }

        &:hover {
            .iconfont {
                color: var(--primary-color-10);
            }
        }
    }
}