.module-main-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    position: relative;

    .group-info {
        height: 100%;
        width: 300px;
        position: absolute;
        right: 0;
        background-color: rgba(250, 250, 250, 0.95);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s;

        & > p {
            height: 70px;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            text-align: center;
            line-height: 70px;
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }
        & > div {
            flex: 1;
            padding: 12px;
            overflow: auto;

            & > div {
                margin-bottom: 10px;
                & > p {
                    line-height: 33px;
                    font-size: 14px;
                    color: #333;
                    font-weight: bold;
                }
                &.avatar {
                    & > img {
                        width: 100px;
                        height: 100px;
                        cursor: pointer;
                        &:hover {
                            filter: blur(3px);
                        }
                    }
                }
                &.feature {
                    & > .component-button {
                        width: 160px;
                        height: 34px;
                        line-height: 34px;
                    }
                }
                &.online-members {
                    & > div > div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 6px;
                        cursor: default;
                        & > div {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            & > p {
                                margin-left: 10px;
                                color: #333;
                                font-size: 14px;
                                word-break: keep-all;
                                max-width: 120px;
                            }
                        }
                        & > p {
                            color: #666;
                            font-size: 12px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin-left: 12px;
                            text-align: right;
                        }
                    }
                }
            }
        }
        &.show {
            transform: translateX(0);
        }
        &.hide {
            transform: translateX(301px);
        }
    }
}

.chat-headerBar {
    height: 70px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.6);
    display: flex;
    align-items: center;
    padding: 0px 18px;
    justify-content: space-between;

    & > h2 {
        font-size: 16px;
        color: #333;
    }
    & > div {
        display: flex;
    }
    .iconfont {
        color: var(--primary-color-10);
        &:hover {
            color: var(--primary-color-8);
        }
    }
}

.chat-messageList {
    flex: 1;
    padding: 8px 10px 0 10px;
    overflow: auto;
}
.chat-message {
    display: flex;
    margin-right: 54px;
    margin-bottom: 10px;
    position: relative;

    .avatar {
        min-width: 44px;
    }
    .right {
        margin-left: 12px;
    }
    .nickname-time {
        height: 20px;
        display: flex;
        align-items: flex-end;
    }
    .tag {
        height: 18px;
        line-height: 18px;
        border-radius: 8px;
        padding: 0 6px;
        display: inline-block;
        font-size: 10px;
        background-color: var(--primary-color-9);
        color: var(--primary-text-color-10);
        transform: translateY(-1px);
    }
    .nickname {
        color: #333;
        font-size: 13px;
        margin-left: 6px;
        user-select: text;
    }
    .time {
        color: #666;
        font-size: 12px;
        margin-left: 8px;
    }
    .content {
        display: inline-block;
        color: #555;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 6px 8px;
        border-radius: 8px;
        border-top-left-radius: 0px;
        min-height: 28px;
        margin-top: 3px;
    }
    .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 7px 15px 0;
        border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
        position: absolute;
        top: 23px;
        left: 49px;
    }
    &.self {
        flex-direction: row-reverse;
        margin-right: 0px;
        margin-left: 54px;

        .right {
            margin-left: 0px;
            margin-right: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .nickname-time {
            display: flex;
            flex-direction: row-reverse;
        }
        .tag {
            display: none;
            margin-left: 6px;
        }
        .time {
            transform: translateY(2px);
        }
        .content {
            color: rgba(255, 255, 255, 0.9);
            background-color: var(--primary-color-10);
            border-top-left-radius: 8px;
            border-top-right-radius: 0px;
        }
        .arrow {
            border-width: 0 0 15px 7px;
            border-color: transparent transparent transparent var(--primary-color-10);
            left: initial;
            right: 49px;
            top: 23px;
        }
        .text {
            color: var(--primary-text-color-10);
        }
    }
    .expression-baidu {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        margin: 0 2px;
        background-size: 30px auto;
        background-image: url('../../../../assets/images/baidu.png');
    }
    .text {
        user-select: text;
        word-break: break-word;
        & img {
            user-select: text;
        }
        & a {
            user-select: text;
        }
    }
    .image {
        position: relative;
        .progress, .progress-number {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
        }
        .progress-number {
            color: var(--primary-text-color-10);
            text-align: center;
            line-height: 80px;
            font-size: 18px;
        }
        .img {
            max-width: 500px;
            max-height: 400px;
        }

        &.loading {
            .img {
                filter: blur(5px);
            }
            .progress {
                display: block;
            }
            .progress-number {
                display: block;
            }
        }
        &.huaji {
            .img {
                width: auto;
                max-height: 150px;
            }
        }
    }
    .code {
        .button {
            width: 160px;
            padding: 0 4px;
            text-align: center;
            cursor: pointer;
            color: var(--primary-text-color-10);
            & > div {
                display: flex;
                border-bottom: 1px solid #eee;
                align-items: center;
                .icon {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    margin: 0 2px;
                }
                .code-info {
                    & > span:last-child {
                        margin-left: 8px;
                    }
                }
            }
            & > p {
                display: inline-block;
                font-size: 12px;
                text-align: center;
                margin-top: 6px;
            }
        }
    }
    .invite {
        width: 160px;
        padding: 0 4px;
        text-align: center;
        cursor: pointer;
        color: var(--primary-text-color-10);
        & > div {
            display: flex;
            border-bottom: 1px solid #eee;
            align-items: center;
            & > span {
                line-height: 18px;
            }
        }
        & > p {
            display: inline-block;
            font-size: 12px;
            text-align: center;
            margin-top: 6px;
        }
    }
}
.code-viewer {
    width: 800px !important;
    max-height: 90%;
    display: flex;

    .rc-dialog-content {
        flex: 1;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        // overflow: hidden;
    }
    .rc-dialog-body {
        padding: 0 8px;
        overflow: auto;
        max-width: 900px;
        position: relative;
        flex: 1;
        * {
            user-select: text;
        }
    }
    .pre {
        color: black;
        margin: 0;
        font-size: 14px;
        background-color: white !important;
        position: static !important;

        & > code {
            position: static !important;
        }
        .line-numbers-rows {
            position: absolute;
            left: 0;
            top: 14px;
            background-color: white;
        }
    }
}

.chat-chatInput {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom-right-radius: 10px;

    input {
        flex: 1;
        margin: 0 10px;
        padding: 0px 8px;
        height: 32px;
        outline: none;
        border: 1px solid rgba(208, 208, 208, 0.5);
        font-size: 14px;
        color: #666;

        &::placeholder {
            color: #999;
        }
    }
    div {
        .iconfont {
            color: #AAA;
        }

        &:hover {
            .iconfont {
                color: var(--primary-color-10);
            }
        }
    }

    &.guest {
        & > p {
            color: #333;
            user-select: none;
            font-size: 14px;
            flex: 1;
            text-align: center;
            letter-spacing: 1px;

            & > b {
                color: var(--primary-color-10);
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}

.chat-expression {
    height: 100%;
    .default-expression {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > div {
            width: 40px;
            height: 40px;;
            padding: 5px;
            transition: all 0.3s;
            &:hover {
                background-color: #e9e9e9;
                cursor: pointer;
            }

            & > div {
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: 30px auto;
                background-image: url('../../../../assets/images/baidu.png');
            }
        }
    }
    .rc-tabs {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .rc-tabs-content {
        flex: 1;
    }
}
.expression-dropdown {
    width: 415px;
    height: 240px;
    background-color: white;
    transform: translateY(-8px);
}

.feature-dropdown {
    background-color: white;

    .rc-menu {
        padding: 6px 0;
    }
    .rc-menu-item {
        padding-left: 18px;
        padding-right: 18px;
    }
}
.chat-codeEditor {
    height: 600px;
    display: flex;
    flex-direction: column;

    .select-container {
        display: flex;
        align-items: center;

        .language-select {
            width: 150px;
            margin-left: 10px;
        }
        & > h3 {
            font-size: 14px;
            font-weight: normal;
            color: #666;
        }
    }
    .editor-container {
        flex: 1;
        margin-top: 10px;
    }
}
.codeEditor-dialog {
    width: 600px !important;

    .container {
        display: flex;
        flex-direction: column;
    }
    .codeEditor-button {
        width: 100px;
        height: 36px;
        border-radius: 4px;
        margin-top: 10px;
        align-self: flex-end;
        background-color: var(--primary-color-10);
        color: var(--primary-text-color-10);
        border: none;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--primary-color-9);
        }
    }
}
.expressionSearch-dialog {
    width: 600px !important;

    .container {
        display: flex;
        flex-direction: column;
        
        & > div {
            display: flex;

            &.input-container {
                .component-input {
                    flex: 1;
                    height: 40px;
                }
                .component-button {
                    width: 80px;
                    margin-left: 12px;
                }
            }
            &.loading {
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
            }
            &.expression-list {
                flex-wrap: wrap;
                margin-top: 16px;
                overflow: auto;
                max-height: 140px * 4;

                & > img {
                    width: 130px;
                    height: auto;
                    max-height: 130px;
                    margin: 5px;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }
    }
}

.react-viewer-toolbar {
    height: 38px !important;
}
.react-viewer-btn {
    width: 38px !important;
    height: 38px !important;
    &:nth-child(3), &:nth-child(5) {
        display: none;
    }
    & > .react-viewer-icon {
        line-height: 38px;
        font-size: 16px;
    }
}
.react-viewer-close {
    width: 80px !important;
    height: 80px !important;
    border-radius: 0 0 0 80px;
    .react-viewer-icon {
        top: 14px;
        left: 36px;
        font-size: 20px;
    }
}
.react-viewer-attribute {
    margin-bottom: 12px;
}