body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.window {
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    position: absolute;
    z-index: -100;
}

.app {
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469945375_5972974.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1469945375_5972974.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1469945375_5972974.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1469945375_5972974.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1469945375_5972974.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

.icon {
    font-family: 'iconfont';
    font-style: normal;
}