.float-panel {
    height: 100%;
    width: 325px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #f1f1f1;
    z-index: 2;
    box-shadow: -5px 0px 15px -2px #aaa;
    display: flex;
    flex-direction: column;

    & > div:first-child {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid silver;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > span {
            color: #231815;
            font-size: 16px;
        }
        & > i {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
            color: #999;
            cursor: pointer;

            &:hover {
                color: #c02721;
            }
        }
    }
}