.nav-list {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list-item {
    width: 70px;
    height: 50px;
    background-color: #0288D1;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 30px;
        color: #fff;
    }
}
.selected {
    background-color: #2ea7e0;
}
div:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}