@import "../../common/commonStyle";

.signup {
    @include size;
    @include flexCenter;

    & > div {
        @include size(360px, auto);
        @include flexCenter(column);
        background-color: white;
        padding: 20px 30px;

        .focus {
            border: 1px solid #03a9f4;
            box-shadow: 0px 0px 3px #03a9f4;
        }

        .error {
            border: 1px solid red;
            box-shadow: 0px 0px 3px red;
        }

        & > div:nth-child(1000n+2) {
            margin-top: 10px;
        }

        & > div {
            @include size(300px, 40px);
            @include flexCenter;
            box-sizing: content-box;
            border: 1px solid #ccc;
            border-radius: 5px;

            & > div {
                @include flexCenter;
                @include size(40px, 40px);

                i {
                    color: #757575;
                    font-size: 20px;
                }
            }

            & > input {
                flex: 1;
                height: 40px;
                padding-right: 10px;
                font-size: 16px;
                color: #757575;
                border-radius: 5px;
            }
        }

        button {
            @include size(300px, 40px);
            background-color: #03a9f4;
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #0288d1;
            }
            &:focus {
                border: 1px solid #0288d1;
                box-shadow: 0px 0px 3px #0288d1;
            }
        }

        span {
            color: #03a9f4;
            margin-top: 5px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                color: #0288d1;
            }
        }
    }
}