@import "../../../common/commonStyle";

.group-manage {
    @include flexCenter;
    background-color: rgba(241, 241, 241, 0.2);
    flex: 1;

    & > div:nth-child(1000n+1) {
        width: 120px;
        height: 120px;
        background-color: $lightBlue5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;

        &:hover {
            background-color: #289dda;
        }
    }

    & > div:nth-child(1000n+2) {
        @include flexCenter;
        @include size(120px, 120px);
        background-color: $lightBlue5;
        border-radius: 50%;
        color: white;
        margin-left: 80px;

        &:hover {
            background-color: $lightBlue6;
        }
    }
}