@import "../../../common/commonStyle";

.input-form {
    @include floatIndex;
    @include containerCenter;
    @include size(380px, 120px);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    & > :nth-child(1000n+1) {
        @include flexCenter;
        background-color: white;
        height: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;

        & > i {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
            color: #999;
            cursor: pointer;

            &:hover {
                color: #c02721;
            }
        }
    }

    & > :nth-child(1000n+2) {
        @include flexCenter;
        flex: 1;
        background-color: #fafafc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;

        & > input {
            @include size(34px, 260px);
            border-radius: 10px;
            padding: 0px 10px;
            font-size: 14px;
            border: 1px solid #f1f1f1;
        }

        & > button {
            @include size(34px, 80px);
            margin-left: 20px;
            border-radius: 10px;
            font-size: 14px;
            background-color: #2ea7e0;
            color: white;

            &:hover {
                background-color: $lightBlue4;
            }
        }
    }
}