.rc-notification {
    position: fixed;
    top: 20px !important;
    transform: translateX(-50%);
}

.component-message {
    background-color: #F9F9F9;
    padding: 6px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    .iconfont {
        font-size: 22px;

        &.icon-success {
            color: green;
        }
        &.icon-error {
            color: #d82e2e;
        }
        &.icon-warning {
            color: orange;
        }
        &.icon-info {
            color: #2773ef;
        }
    }
    & > span {
        margin-left: 8px;
        font-size: 16px;
    }
}