@import "../../common/commonStyle";

.user-panel {
    @include size(250px, auto);
    @include flexCenter;
    justify-content: flex-end;
    padding-right: 10px;

    & > div:nth-child(1000n+1) {
        @include size(10px, 10px);
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }
    .online {
        background-color: lawngreen;
    }
    .offline {
        background-color: orangered;
    }

    & > div:nth-child(1000n+2) {
        cursor: pointer;
    }

    & > img {
        cursor: pointer;
    }
}
