.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        width: 360px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;

        .focus {
            border: 1px solid #03a9f4;
            box-shadow: 0px 0px 3px #03a9f4;
        }

        .error {
            border: 1px solid red;
            box-shadow: 0px 0px 3px red;
        }

        & > div:nth-child(1000n+2) {
            margin-top: 10px;
        }

        & > div {
            width: 300px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            & > div {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: #757575;
                    font-size: 20px;
                }
            }

            & > input {
                flex: 1;
                height: 38px;
                padding-right: 10px;
                font-size: 16px;
                color: #757575;
                border-radius: 5px;
            }
        }

        button {
            background-color: #03a9f4;
            width: 300px;
            height: 40px;
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #0288d1;
            }
            &:focus {
                border: 1px solid #0288d1;
                box-shadow: 0px 0px 3px #0288d1;
            }
        }

        span {
            color: #03a9f4;
            margin-top: 5px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                color: #0288d1;
            }
        }
    }
}