* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.window {
    width: 100%;
    height: 100%;

    & > audio {
        display: none;
    }
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('./image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    position: absolute;
    z-index: -1;
}

.app {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#app {
    height: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1471527287_4748273.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1471527287_4748273.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1471527287_4748273.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1471527287_4748273.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1471527287_4748273.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family: 'iconfont';
    font-style: normal;
}