.module-main-feature {
    width: 300px;
    height: 100%;
    background-color: var(--primary-color-5);
    position: relative;
    display: flex;
    flex-direction: column;
}

.chatPanel-linkman-group {
    flex: 1;
    overflow-y: auto;
}

.module-main-feature-linkman {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: default;
    transition: background-color 0.2s;

    .top-bottom {
        flex: 1;
        margin-left: 12px;

        .name-time, .preview-unread {
            display: flex;
            justify-content: space-between;
        }
        .name-time {
            margin-top: 4px;
            .name {
                color: var(--primary-text-color-10);
                font-size: 14px;
            }
            .time {
                color: var(--primary-text-color-7);
                font-size: 12px;
                position: relative;
                top: 4px;
            }
        }
        .preview-unread {
            margin-top: 6px;
            .preview {
                color: var(--primary-text-color-7);
                font-size: 12px;
                width: 188px;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .unread {
                @size: 18px;
                background-color: var(--primary-color-10);
                width: @size;
                height: @size;
                border-radius: 50%;
                text-align: center;
                & > span {
                    color: #e9e9e9;
                    font-size: 10px;
                    line-height: @size;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    &.focus {
        background-color: var(--primary-color-4);
    }
}

.chatPanel-feature {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0 12px;
    position: relative;

    & > input {
        flex: 1;
        height: 36px;
        border-radius: 18px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        padding-left: 35px;
        padding-right: 15px;
        padding-top: 2px;
        font-size: 14px;
        color: #333;

        &.focus {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    & > .iconfont {
        font-size: 22px;
        position: absolute;
        left: 20px;
        top: 22px;
        color: #666;
    }
    & > div {
        margin-left: 5px;

        .iconfont {
            color: rgba(255, 255, 255, 0.5);
        }
        &:hover {
            .iconfont {
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }
}

.create-group-dialog {
    .content {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 14px;
            font-weight:normal;
            line-height: 31px;
            color: #333;
        }
        button {
            width: 66px;
            height: 36px;
            border-radius: 6px;
            margin-top: 12px;
            background-color: var(--primary-color-10);
            color: var(--primary-text-color-10);
            align-self: flex-end;
            font-size: 14px;
            border: none;

            &:hover {
                background-color: var(--primary-color-8);
            }
        }
        .component-input {
            height: 40px;
        }
    }
}

.search-result {
    position: absolute;
    top: 60px;
    left: 8px;
    width: 276px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 1300;
    
    .rc-tabs-tab {
        margin-right: 20px;
    }
    .rc-tabs-nav {
        margin-left: 16px !important;
    }
    .user-list {
        & > div {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 56px;
            padding-left: 8px;
            & > p {
                color: #333;
                margin-left: 10px;
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
    .group-list {
        & > div {
            display: flex;
            padding-left: 8px;
            cursor: pointer;
            height: 56px;
            align-items: center;
            & > div {
                margin-left: 10px;
                & > p {
                    color: #333;
                    &:last-child {
                        color: #666;
                        font-size: 14px;
                    }
                }
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
    .all-list {
        padding: 8px 12px;
        max-height: 440px;

        & > div {
            & > p {
                font-size: 14px;
                color: #333;
                font-weight: bold;
                line-height: 31px;
            }
        }
    }
    .none {
        font-size: 14px;
        line-height: 80px;
        text-align: center;
        color: #333;
    }
    .more {
        color: var(--primary-color-10);
        font-size: 12px;
        text-align: center;
        & > span {
            cursor: pointer;
        }
    }
    .only {
        padding: 6px 12px;
        max-height: 440px;
        overflow-y: auto;
    }
}